<!DOCTYPE html>
<html lang="en">
<%- include ('partials/heads.ejs', {headtittle: 'CART' , cssForm1:'', cssForm2:'styles/detail-products-css/cart.css' }); %>

<body class="grid-container">
  <%- include ('partials/header.ejs') %>
  <div class="banner"></div>
  <main class="main-container cart-main">
  </main>
  <%- include ('partials/footer.ejs') %>
  <%- include ('partials/scripts.ejs') %>
</body>

</html>