<!DOCTYPE html>
<html lang="en">
  <%- include ('partials/heads.ejs', {headtittle: '404' ,
  cssForm1:'/styles/404.css',cssForm2:'' }); %>

  <body class="grid-container">
    <%- include ('partials/header.ejs') %>
    <div class="banner"></div>
    <main class="main-container-404">
      <img src="/assets/img/404_2.png" alt="404" />
    </main>
    <%- include ('partials/footer.ejs') %> <%- include ('partials/scripts.ejs')
    %>
  </body>
</html>
