<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../../public/styles/sliderBaner.css" />
    <title>Document</title>
  </head>

  <body>
    <div class="banner">
      <div class="banner-slider">
        <div class="slides">
          <!-- botones del slider -->
          <input type="radio" name="radio-button" id="radio1" />
          <input type="radio" name="radio-button" id="radio2" />
          <input type="radio" name="radio-button" id="radio3" />
          <input type="radio" name="radio-button" id="radio4" />
          <input type="radio" name="radio-button" id="radio5" />
          <!-- imagenes del slider -->
          <!-- todas las imagens fueron recortadas widht 2800 height 1250 calidad 80% formato webp -->
          <img
            class="slide first"
            src="../../../public/assets/slidertImages/Gothic-Style-Vintage-Bat-Earrings-Punk-Women-s-Exaggerated-Hook-Earrings-Ghost-Festival-Christmas-Birthday-Gift.jpg_Q90.jpg_ (1).webp"
            alt=""
          />
          <img
            class="slide"
            src="../../../public/assets/slidertImages/bikers-ringss.webp"
            alt=""
          />
          <img
            class="slide"
            src="../../../public/assets/slidertImages/Joyeria Mexicana-Cristeros-GQ2.webp"
            alt=""
          />
          <img
            class="slide"
            src="../../../public/assets/slidertImages/4ef6399d12f508b9f2e4d8a70cc57c42.webp"
            alt=""
          />
          <img class="slide"
          src="../../../public/assets/slidertImages/por-que-los-hombres-estan-interesados-e2808be2808ben-usar-anillos.webp"">
          <!-- auto navegacion de las imagaen en el slider -->
          <div class="navigation-auto">
            <div class="auto-button1"></div>
            <div class="auto-button2"></div>
            <div class="auto-button3"></div>
            <div class="auto-button4"></div>
            <div class="auto-button5"></div>
          </div>
          <!-- botones manuales para la navegacion en el slider -->
          <div class="navigation-manual">
            <label for="radio1" class="manual-button"></label>
            <label for="radio2" class="manual-button"></label>
            <label for="radio3" class="manual-button"></label>
            <label for="radio4" class="manual-button"></label>
            <label for="radio5" class="manual-button"></label>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
