<!-- FOOTER -->
<footer class="footer-container" style=" color: white;">
  <div class="contactus">
    <h3>Contact Us</h3>
  </div>
  <!--iconos footer-->
  <div class="social-media">
    <a href="#"><span class="face"><i class="fa-brands fa-square-facebook"></i></span></a>
    <a href="#"><span class="twiter"><i class="fa-brands fa-square-twitter"></i></span></a>
    <a href="#"><span class="insta"><i class="fa-brands fa-instagram"></i></span></a>
    <a href="#"><span class="pinter"><i class="fa-brands fa-square-pinterest"></i></span></a>
  </div>
  <!--columna1-->
  <div class="support">
    <a href="#">SUPPORT</a>
    <a href="#">Faq</a>
    <a href="#">Shipping</a>
    <a href="#">Waranty</a>
    <a href="#">Jewelry Care</a>
    <a href="#">Ring Sizer</a>
  </div>
  <!--columna2-->
  <div class="about-us">
    <a href="#">ABOUT US</a>
    <a href="#">Our Mission</a>
    <a href="#">Stores</a>
    <a href="#">History</a>
  </div>
  <div class="end-foot">
    <span>Terms and Condition Copiright 2022 </span>
    <span> Privacy Policy </span>
  </div>
</footer>