<!-- HEADER -->
<header class="header">
  <div class="presentation">
    WELCOME TO THE STAR FACTORY &nbsp;<strong>FREE SHIPPING WORLDWIDE</strong>
  </div>
  <div class="contenedor-header">
    <!--carro mod-movil-->
    <div class="cart-responsive">
      <a href="#"><i class="fa-solid fa-bag-shopping"></i></a>
    </div>
    <!-- BARRA DE BUSQUEDA -->
    <div class="seacrh-container">
      <div class="search">
        <input type="text" placeholder="Search" required />
        <button><i class="fa-solid fa-magnifying-glass"></i></button>
      </div>
    </div>
    <div class="logo-header">
      <div class="img-container">
        <img src="https://i.ibb.co/dPcmB2Z/cooltext415529546518944.webp" alt="logo de la joyeria" class="logo" id="logoHeader" />
      </div>
    </div>
    <!-- ICONOS DE CARRO Y SESSION -->
    <div class="session">
      <a href="/cart" class="icons"><i class="fa-solid fa-bag-shopping" id="bag-icon"></i></a>
      <a href="#" class="icons"><i class="fa-solid fa-user" id="user-icon"></i> </a>

      <div class="submenu" id="submenu">
        <div><a href=" /signIn" class="link" id="link1">&nbsp SIGN IN</a></div>
        <div><a href="/login" class="link" id="link2">&nbsp LOG IN</a></div>
        <a href="/cookie" class="logout-buton"> <button>LOG OUT</button> </a>
      </div>

    </div>
    <!-- burguer menu mod-movil -->
    <div class="burguer-menu">
      <a href="#"><i class="fa-solid fa-bars"></i></a>
    </div>
  </div>
</header>

<!-- BAARA DE NAVEGACION -->
<nav class="navbar">
  <div class="navbar2">
    <nav>
      <ul class="nav-elements">
        <li><a href="#" class="link"></a> RINGS</li>
        <li><a href="#" class="link"></a> BRACELETS</li>
        <li><a href="#" class="link"></a> NECKLACE</li>
        <li><a href="#" class="link"></a> EARRING</li>
        <li><a href="#" class="link"></a> ACCESORIES</li>
        <li><a href="#" class="link"></a> CHAINS</li>
      </ul>
    </nav>
  </div>
</nav>