.navbar {
  color: white;
  display: flex;
  flex-direction: row;
  /* padding: 5px; */
  align-items: center;
  width: 100%;
  height: 40px;
  background-color: #610094;
  justify-content: center;
}
.nav-elements {
  display: flex;
  list-style: none;
  align-items: center;
}

nav ul li {
  padding: 25px;
  cursor: pointer;
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;
  /* font-style: italic; */
  font-weight: bold;
}
/*ANIMACIONES DE NAV BAR*/
nav ul li:hover {
  transform: scale(1.2);
  transition: 0.3s;
}
nav ul li link:hover {
  text-shadow: 20px 20px 20px #c40a67;
  transition: text-shadow 0.3s ease;
}

@media screen and (max-width: 450px) {
  .navbar {
    visibility: collapse;
  }
}
